@font-face {
  font-family: "iconfont"; /* Project id 2900179 */
  src: url('//at.alicdn.com/t/font_2900179_phz84036z1q.woff2?t=1635414542274') format('woff2'),
       url('//at.alicdn.com/t/font_2900179_phz84036z1q.woff?t=1635414542274') format('woff'),
       url('//at.alicdn.com/t/font_2900179_phz84036z1q.ttf?t=1635414542274') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}