@font-face {
  font-family: "iconfont"; /* Project id 2900179 */
  src: url('//at.alicdn.com/t/font_2900179_1ousumr9obr.woff2?t=1635475602051') format('woff2'),
       url('//at.alicdn.com/t/font_2900179_1ousumr9obr.woff?t=1635475602051') format('woff'),
       url('//at.alicdn.com/t/font_2900179_1ousumr9obr.ttf?t=1635475602051') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}